.container {
  width: 100%;
  :global {
    .ant-typography {
      margin-top: 0;
    }
  }
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select {
  width: 120px;
  margin-right: 10px;
}

.summary {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.summaryItem {
  width: 20%;
  text-align: left;
  border: 1px solid #f0f0f0;
  padding: 12px;
  border-radius: 4px;
  &>p:nth-child(2) {
    font-size: 24px;
    line-height: 1.4;
    margin: 8px 0;
  font-weight: 600;

  }
}

.summaryLabel {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  margin: 8px 0;
}

.totalCard {
  text-align: left;
  margin-bottom: 20px;
  :global {
    .ant-card-body {
      padding: 12px;
    }
  }
}

.totalAmount {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.4;
  margin: 0 !important;
}
.tableCard {
  :global {
    .ant-card-head {
      padding:  0 12px;
    }
    .ant-card-body {
      padding: 20px 0 0 ;
    }
  }
}
.container {
  width: 100%;
  :global {
    .ant-typography {
      margin-top: 0;
    }
  }
}

.tabContainer {
  margin-top: 24px;
}

.expenseContent {
  padding-top: 20px;
  border-radius: 2px;
}

.filterContainer {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
}

.filterGroup {
  display: flex;
  gap: 16px;
}

.filterItem {
  display: inline-flex;
  align-items: center;
}

.filterLabel {
  margin-right: 8px;
  color: rgba(0, 0, 0, 0.85);
}

.buttonGroup {
  display: inline-flex;
  align-items: center;
}

.table {
  :global {
    .ant-table-thead > tr > th {
      background: #fafafa;
    }
  }
}