.container {
  width: 100%;
  :global {
    .ant-typography {
      margin-top: 0;
    }
  }
}

.balanceInfo {
  margin: 24px 0;
}

.amount {
  font-size: 24px;
  margin-top: 8px;
}

.amountCard {
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
}

.amountCard:hover {
  border-color: #1890ff;
}

.selected {
  border-color: #1890ff;
  background: #e6f7ff;
}

.customAmount {
  margin: 24px 0;
}