.summary {
  display: flex;
  gap: 10px;
  padding-bottom: 24px;
  & > div {
    padding: 10px;
    flex: 1;
    text-align: left;
    font-size: 14px;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    & > p {
      margin: 0;
      font-size: 20px;
      font-weight: bold;
      color: #000;
      padding-bottom: 10px;
    }
    & > p:last-child {
      font-size: 24px;
      color: #141414;
      font-weight: bold;
    }
  }
}
